sudo: false
language: c
cache:
  directories:
  - $HOME/.stack
before_install:
  # Download and unpack the stack executable
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
script:
  - stack build --ghc-options="-O2 -Wall -Werror -fwarn-tabs" --test :spec